.order-container {
    width: 100vw;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 520px;
    /* display: grid;  */
    /* place-items: center; */
    padding: 2rem;
}

.summary {
    /* display: grid;
    grid-template-columns: auto 1fr auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.8rem;
    background-color: var(--input-field-color);
    border-radius: 8px;
    margin-bottom: 1.8rem;
}

.summary p:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.summary__date {
    font-size: var(--text-md);
    font-weight: bold;
}

.list__item {
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__item div {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    /* color: var(--inactive-color); */
}

.list__item div img {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 14px;
    object-fit: cover;
}

.price {
    font-size: var(--text-md);
    font-weight: bold;
    font-family: var(--body-font);
}